body {
  background-color: #f6f8fa;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  transition: 0.2s;
}

button:hover {
  background-color: #0056b3;
}

